{% extends 'header.html' %}

{% load static %}

{% block content %}
<h1>Block {{ block_number }}</h1>
    {% for lot in object_list %}
    <div>
        <h2>Lot {{ lot.number }}</h2>
        {% for grave in lot.grave_set.all %}
        <button class="{{ grave.status }}">
            <h3>{{  grave.status }}</h3>
            <p>{{  grave.numbwe }}</p>
            {% for deceased in grave.deceased_set.all %}
                <p>{{ deceased.first_name }}</p>
                <p>{{ deceased.last_name }}</p>
            {% endfor %}
        </button>
        {% endfor %}
    </div>
{% endfor %}
</table>
{% endblock %}